<% if user_signed_in? && current_user.id == @friend.user_id %>
  <p style="color: green"><%= notice %></p>

  <%= render @friend %>

  <div>
    <%= link_to "Edit this friend", edit_friend_path(@friend) %> |
    <%= link_to "Back to friends", friends_path %>

    <%= button_to "Destroy this friend", @friend, method: :delete %>
  </div>
<% else %>
  <p>You aren't authorised :(</p>
<% end %>